body {
    display: flex;
}

.landing-container {
    margin: auto;
}

.landing-container > h1 {
    font-size: 3em;
}

.landing-container > a {
    font-size: 1.5em;
    transition: transform 1s;
}

.landing-container > a:hover {
    transform: translate(20px, 0px);
}