body {
    width: auto;
    height: auto;
    margin: auto;

    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.landing-header {
    font-size: 6em;
}

.login-link {
    font-size: 3em;
    text-decoration: none;
    color: black;
    transition: transform 1s;
}

.login-link:hover {
    transform: translate(20px, 0px);
}