@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
}

nav, main {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center; /* vertical */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links {
  display: flex;
  gap: 24px;
  font-weight: 600;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  transition: color 0.25s;
}

nav a:hover {
  color: black;
}

input, textarea {
  padding-left: 12px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  font-size: 1rem;
  color: grey;
  transition: all 0.25s;
}

textarea {
  resize: none;
  padding-top: 15px;
}

input:hover, textarea:hover {
  border-color: grey;
}

.nav-search input {
  width: 200px;
}

.nav-search input:focus {
  width: 250px;
}

.nav-search::after {
  content: url("../svg/search.svg");
  position: absolute;
  transform: translate(-32px, 4px);
}

.nav-user {
  color: grey;
}

.action-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.action-tile {
  aspect-ratio: 2/1; 
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  transition: all 0.15s;
}

.action-tile:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.action-tile-wip {
  color: grey;
  border-color: grey;
}

.action-tile-wip:hover {
  cursor: unset;
  background-color: white;
  color: grey; 
}

.request-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.action-button {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 20px;

  transition: .15s all;
}

.action-button:hover:enabled {
  color: white;
  background-color: black;
  padding: 0 30px;
  cursor: pointer;
}

.action-button:disabled {
  color: grey;
  border-color: grey;
}

h1 {
  font-weight: 700;
  margin: 10px 0;
}

h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

h3 {
  margin: 10px 0;
  font-size: 1rem;
}

p {
  margin: 10px 0;
}

.request-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.request-content {
  padding-right: 36px;
}

.request-updates {
  padding-left: 36px;
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}

.request-updates textarea:focus, .request-updates textarea:not(:placeholder-shown) {
  height: 100px;
}

.submit-comment-area {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.submit-comment-area button {
  align-self: flex-end;
}

.request-update-container {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 18px;
  padding-top: 18px;
}

.request-update-container:last-child {
  border-bottom: none;
}

.request-legend, .request-element {
  display: grid;
  grid-template-columns: 1fr 16ch 10ch 18ch 10ch;
  padding: 0 12px;
}

.request-legend div {
  padding-bottom: 8px;
  color: grey;
  font-style: italic;
}

.request-element div, .request-legend div {
  text-align: center;
}

.request-element div:first-child, .request-legend div:first-child {
  text-align: left;
}

.request-element div:last-child, .request-legend div:last-child {
  text-align: right;
}

.request-element {
  height: 50px;
  border-bottom: 1px solid lightgrey;

  justify-items: stretch;
  align-items: center;

  text-decoration: none;
  color: black;

  transition: background-color 0.25s;
}

.request-element:first-child {
  border-top: 1px solid lightgrey;
}

.request-element:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.header-detail-sub-bar {
  color: grey;
  font-size: small; 
  display: flex;
  padding-bottom: 20px;
}

.header-detail-sub {
  display: flex;
  padding: 0 12px;
  border-left: 1px solid lightgrey;
}

.header-detail-sub:first-child {
  font-weight: 700;
  padding-left: 0;
  border-left: none;
}

.header-detail-sub div {
  padding: 0 4px;
}

.header-detail-sub div:first-child {
  padding: 0;
}

.header-detail-sub div:last-child {
  font-weight: 700;
}

.back-link {
  cursor: pointer;
  color: grey;
  font-size: small;
  font-weight: bold;

  transition: color 0.25s;
}

.back-link:hover {
  color: black;
}

.weak {
  font-weight: normal !important;
}

em {
  font-style: italic;
}