@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
}

nav, main {
  width: 60vw;
  margin: auto;
}

nav {
  display: flex;
  gap: 24px;
  height: 60px;
  align-items: center; /* vertical */
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 600;
}